---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import FeaturedWork from "../components/FeaturedWork.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Muhammad Yusuf | Fullstack Engineer Portfolio">
	<Navbar />
	<main>
		<Hero />
		<About />
		<FeaturedWork />
		<Skills />
		<Contact />
	</main>
</Layout>

<style>
	/* Global smooth scroll behavior is already in Layout */
</style>
